//  how to design custom checkboxes https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox

.discover-recipes {
  padding: 0rem 1rem;
  margin: 2rem 0rem;

  &__form {
    margin-bottom: 2rem;

    h4 {
      margin: 0.5rem 0rem;
    }
  }
}

.discover {
  &__label {
    padding: 1rem 0rem;

    &--meal-type {
      margin-right: 1rem;
      select {
        margin-left: 0.5rem;
      }
    }

    &--search {
      input {
        margin-left: 0.5rem;
      }
    }

    &--checkbox {
    }
  }

  &__meal-type {
    font-family: "Barlow";
    font-weight: 600;
  }

  &__fridge-wrapper {
    padding: 0.5rem 0rem;
    padding-bottom: 0.25rem;

    &--checkboxes {
      margin-bottom: 0.75rem;
    }
  }

  &__label--checkbox {
    padding: 0rem 0.25rem;
  }

  &__button {
    margin-top: 1rem !important;
  }
}
