@use "./styles/partials/fonts.scss" as *;

html,
body {
  margin: 0;
  //   font-family: "Tillium Web";
  font-family: "Barlow";
  font-family: "Nunito";
  font-family: "Rubik";
  box-sizing: border-box;
  // display: flex;
  // flex-direction: column;
  font-size: 1rem;
}

h1,
h2,
h3 {
  font-family: "Barlow";
  //   font-family: "Rubik";
  //   font-family: "Nunito";
  // font-family: "Lora";
}

h1 {
  font-size: 2rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
