@use "../../styles/partials/colors.scss" as colors;
@use "../../styles/partials/fonts.scss";
@use "../../styles/partials/buttons.scss";

.journal-entries {
  padding: 0rem 1rem;
  margin: 2rem 0rem;
}

.journal {
  &__recipe-wall {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  &__form {
  }

  &__range-wrapper {
    display: flex;
    flex-direction: column;

    label {
      margin: 0.5rem 0rem;

      h4 {
        margin: 0px;
        margin-bottom: 0.5rem;
      }
    }
  }

  &__label--note {
    textarea {
      font-family: "Rubik";
      padding: 0.5rem;
    }
  }
  &__btn {
    margin-top: 1rem;
  }

  &__range-total {
    color: colors.$meta-peach;
  }
}

.section--form {
  width: 50%;
  margin: 0 auto;
  margin-top: 2rem;
}
