/* Primary Colors */
$instock-black: #13182c;
$instock-indigo: #2e66e5;
$white: #ffffff;

/* Secondary Colors */
$slate: #5c667e;
$cloud: #bdc5d5;

/* Background Colors */
$graphite: #232940;
$light-grey: #f7f8f9;

/* Supporting Colors */
$green: #158463;
$green-70: rgba(21, 132, 99, 0.07);
$red: #c94515;
$red-70: hsla(16, 81%, 44%, 0.07); ;
