/* Primary Colors */
$meta-midnight: #142038;
$meta-peach: #e98d58;
$white: #ffffff;

/* Secondary Colors */
$slate: #797981;
$cloud: #f1eeeb;

/* Background Colors */
$graphite: #232940;
$light-grey: #f7f8f9;

/* Supporting Colors */
$peach-40: #f6d1bc;
$gold: #ecca56;
