/* Regular */
@font-face {
  font-family: "Tillium Web";
  src: url("../../assets/fonts/titillium/titillium-web-regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Demi */
@font-face {
  font-family: "Tillium Web";
  src: url("../../assets/fonts/titillium/titillium-web-semi-bold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "Tillium Web";
  src: url("../../assets/fonts/titillium/titillium-web-bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

// BARLOW
/* Regular */
@font-face {
  font-family: "Barlow";
  src: url("../../assets/fonts/barlow/Barlow-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Demi */
@font-face {
  font-family: "Barlow";
  src: url("../../assets/fonts/barlow/Barlow-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "Barlow";
  src: url("../../assets/fonts/barlow/Barlow-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

// Nunito
/* Regular */
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/nunito/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Demi */
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/nunito/Nunito-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/nunito/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

// Rubik
/* Regular */
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/rubik/Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Demi */
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/rubik/Rubik-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/rubik/Rubik-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

// Lora
/* Regular */
@font-face {
  font-family: "Lora";
  src: url("../../assets/fonts/lora/Lora-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Demi */
@font-face {
  font-family: "Lora";
  src: url("../../assets/fonts/lora/Lora-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "Lora";
  src: url("../../assets/fonts/lora/Lora-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
