//Mobile Typography
@mixin mobile-page-header {
  font-size: 1.75rem;
  line-height: 2.25rem;
}

@mixin mobile-sub-header {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@mixin mobile-label-links-buttons {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}
@mixin mobile-table-header {
  font-size: 0.6875rem;
  line-height: 1rem;
}
@mixin mobile-body-large {
  font-size: 0.9375rem;
  line-height: 1.625rem;
}
@mixin mobile-body-medium {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}
@mixin mobile-body-small {
  font-size: 0.6875rem;
  line-height: 1rem;
}

// Dektop and Tablet Typography, they share the same size

@mixin tablet-page-header {
  font-size: 2rem;
  line-height: 2.5rem;
}

@mixin tablet-sub-header {
  font-size: 1.5rem;
  line-height: 2rem;
}

@mixin tablet-label-links-buttons {
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@mixin tablet-table-header {
  font-size: 0.75rem;
  line-height: 1.125rem;
}
@mixin tablet-body-large {
  font-size: 1rem;
  line-height: 1.75rem;
}
@mixin tablet-body-medium {
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@mixin tablet-body-small {
  font-size: 0.75rem;
  line-height: 1.125rem;
}
