@use "../../styles/partials/colors.scss" as colors;
@use "../../styles/partials/fonts.scss";
@use "../../styles/partials/buttons.scss";

.recipe-card--small {
  width: 100%;
  background-color: colors.$cloud;
  border-radius: 1rem;
  img {
    width: 100%;
    border-radius: 1rem 1rem 0rem 0rem;
  }

  h4 {
    padding: 0.5rem 0.75rem;
    margin: 0.5rem 0rem;
  }
}
